<div class="mt-24 bg-gray-100 py-24">
	<p class="text-center">2022 © Astroid</p>
	<div class="flex justify-center items-center space-x-2 mt-2.5">
		<a href="/privacy-policy">Privacy Policy</a>
		<a href="/terms-and-conditions">Terms and Conditions</a>
		<a href="/cookie-policy">Cookie Policy</a>
	</div>
</div>
