---
import { HeaderBlogItem } from "./HeaderBlogItem";
import { MobileHeader } from "./MobileHeader";
---

<div class="flex items-center justify-between px-8 py-3.5">
	<a href="/" class="text-4xl text-blue-700 font-bold">Asteroid</a>

	<div class="lg:flex items-center space-x-3.5 hidden">
		<a href="/about" class="text-gray-700 hover:text-blue-800">About</a>
		<div>
			<HeaderBlogItem client:visible />
		</div>
		<a href="/contact-us" class="text-gray-700 hover:text-blue-800"
			>Contact Us</a
		>
	</div>

	<MobileHeader client:visible />
</div>
